.box {
    position: absolute;
    background: lightblue;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    transition: transform 1s linear;
    /*transform-origin: top left;*/
    transform-origin: 300px 100px;
    transform-style: preserve-3D;
}

.box-rotate {
    transform: rotate(360deg);
}

button {
    display: block;
    margin: auto;
}